<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生列表</title>
    <link rel="stylesheet" type="text/css" href="../../asset/css/common.css" />
</head>
<body>
<div id="app" class="warpper" v-cloak>
    <div class="header">
        <ul>
            <li>列表名称</li>
        </ul>
    </div>
    <div class="block_container">
        <div class="title">
            标题
        </div>
        <button type="button" class="btn btn_export" @click="exportStudentList">导出</button>

        <td>
            <input type="file" id="importStudentFile" @change="importStudent" style="display:none">
            <button type="button" class="btn btn_primary" @click="uploadStudentFile">导入学生表</button>
        </td>


        <div class="block_overflow">
            <table class="table_list table_striped table_hover text_center">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>班级</th>
                </tr>
                </thead>
                <tbody>
                <tr v-if="dataList && dataList.length == 0">
                    <td colspan="11">暂无数据</td>
                </tr>
                <tr v-for="(item, index) in dataList">
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.grade}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../asset/libs/require.js-2.3.6/require.min.js"></script>
<script type="text/javascript" src="../../asset/js/require-config.js"></script>
<script>
    require(['jquery','vue','global'], function ($, Vue) {
        var vm = new Vue({
            el: "#app",
            data:{
                dataList:{
                },
            },
            mounted: function () {
                var that = this;
                that.init();
            },
            methods: {
                init: function () {
                    var that = this;
                    $.ajax({
                        url: "../../v1/selectStudentList",
                        dataType: "json",
                        contentType: "application/json;charset=UTF-8",
                        type: "post",
                        success: function (data) {
                            that.dataList = data.data;
                        }
                    });
                },
                exportStudentList:function () {
                    //生成form表单的形式  提供查询条件和需要导出的数据的接口
                    var that = this;
                    var url = "../../v1/exportStudentList";
                    var form = $("<form></form>").attr("action", url).attr("method", "post");
                    // form.append($("<input></input>").attr("type", "hidden").attr("name", "sendStartDate1").attr("value", that.criteria.sendStartDate1));
                    // form.append($("<input></input>").attr("type", "hidden").attr("name", "sendStartDate2").attr("value", that.criteria.sendStartDate2));
                    form.appendTo('body').submit().remove();
                },
                importStudent: function () {
                    var that = this;
                    var uploadExcelForm = new FormData();
                    uploadExcelForm.append('file', $('#importStudentFile')[0].files[0]);
                    $.ajax({
                        type: 'POST',
                        // url: '../../v1/importStudent',
                        url: '../../v1/impExcel',
                        data: uploadExcelForm,
                        contentType: false,
                        processData: false,
                        clearForm: true,
                        success: function (res) {
                        },
                    });
                },
                uploadStudentFile: function () {
                    // 重置表单文件，防止同名文件提交后onChange不触发
                    $('#importStudentFile').val([]).trigger("click");
                },
            }
        })
    })
</script>
</body>
</html>