<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamwork.integrationproject.mapper.StudentMapper">

    <resultMap id="student" type="com.teamwork.integrationproject.entity.Student">
        <id property="id" column="s_id"></id>
        <result property="teacher" column="s_teacher"></result>
    </resultMap>

    <select id="selectStudent" resultMap="student">
    select * from t_student where s_teacher = #{teacher}
</select>

</mapper>
